* {
  font-family: "Century Gothic";
  font-weight: 300;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dde5f4;
  height: 100vh;
}

.login-form-main {
  background: #f1f7fe;
  padding: 3.5em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  gap: 2em;
}

.login-form-main .login-title {
  text-align: center;
}

.login-form-main .login-form-group {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width:200px;
  border-radius: 20px; /*rounding corners border*/
  color: #4d4d4d;
  margin-top: -1em;
}

.login-form-main .login-form-group input {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  transition: all 100ms ease-in-out;
}

.login-form-main .login-form-group input:focus{
  border-bottom: 2px solid navy;
}

.login-form-main .login-form-group input::placeholder {
  color: black;
  font-size: 0.9em;
}

.login-form-main .submit {
  padding: 1em;
  background: #3e4684;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
}
.login-form-main .footer {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
  padding-bottom: 10em;
}
.login-form-main .login-form-group small{

}

/* .login-form-main .md-3 .pass .lock-closed-outline {
  width: 10px;
  height: 1px; 
}*/
